// @abstracts/_mix-flex.scss

// Mixin for a flex container with row direction
// Parameters:
// $justify: justify-content (default: center)
// $align: align-items (default: center)
// $gap: gap between flex items (default: 0)
// $wrap: flex-wrap behavior (default: nowrap)
@mixin mix-flex($justify: center, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

// Mixin for a flex container with column direction
// Parameters:
// $align: align-items (default: center)
// $justify: justify-content (default: center)
// $gap: gap between flex items (default: 0)
// $wrap: flex-wrap behavior (default: nowrap)
@mixin mix-flex-column($align: center, $justify: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}
