// src/scss/base/_global.scss
@use '@abstracts' as *;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mix-fontstyle(base);

  @include mix-media(mobile) {
    font-size: var(--fs-base-mobile);
  }
  @include mix-media(tablet) {
    font-size: var(--fs-base-tablet);
  }

  @include mix-media(desktop) {
    font-size: var(--fs-base-desktop);
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;

  @include mix-flex();

  padding: var(--size-m);

background-color: var(--clr-bg-window);



  @include mix-media(mobile) {
    padding: var(--size-l) var(--size-m);
  }
  @include mix-media(tablet) {
      padding: var(--size-xl) var(--size-m);
  }

  @include mix-media(desktop) {
     padding: var(--size-2xl) var(--size-m);
  }
}

h1 {
  @include mix-fontstyle(h1);

  @include mix-media(mobile) {
    font-size: 3.5rem;
  }

  @include mix-media(tablet) {
    font-size: 4rem;
  }

}

h2 {
  @include mix-fontstyle(heading);
}

h3 {
  @include mix-fontstyle(heading);
  font-size: 1.5rem;
}
