:root {
  --button-scale: 1.05;
  --text-scale: 1.05;
  --icon-scale: 1.1;
  --active-scale: 0.95;

  --radius-ui: 48px;
  --radius-circle: 50%;

  --border-transparent: 2px solid transparent;
  --border-ui: 2px solid #264034;
  --border-focus: 2px solid #956a7d;

  --clr-button-bg-default: #80b39c;
  --clr-button-bg-default-state: #9fc6b5;
  --clr-button-text-default: #13201a;

  --clr-button-bg-quick-dark: #264034;
  --clr-button-bg-quick-light: #80b39c;

  --clr-button-bg-date: #f7e4ce;
  --clr-button-bg-date-state: #f8e8d5;
  --clr-button-bg-date-active: #f3d8b8;
  --button-text-date: #945d19;

  --clr-button-bg-cancel: #9e8fac;
  --clr-button-bg-cancel-state: #b9aec3;
  --clr-button-text-cancel: #382e42;

  --clr-button-bg-add: #847294;
  --clr-button-bg-add-state: #ab9fb7;
  --clr-button-text-add: #140127;

  --offset-focus: 2px;

  --size-ui: 48px;
  --radius-ui: 48px;
  --radius-cirle: 50%;
  --ui-border: 2px solid #264034;
  --ui-padding: 2px;

  --button-active-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
}

button {
  width: 100%;
  min-width: var(--size-ui);
  min-height: var(--size-ui);
  @include mix-flex();
  gap: var(--size-2xs);

  padding: var(--space-x-xs);

  border: var(--border-transparent);
  border-radius: var(--radius-m);

  @include mix-fontstyle(button);
  text-transform: uppercase;

  .icon {
    height: 100%;
    max-width: min-content;
    @include mix-flex();
    font-size: fn-rem(25);
  }

  .text {
    @include mix-flex();

    @include mix-media(mobile) {
      font-size: fn-rem(17);
    }
  }

  &:hover {
    transform: scale(var(--button-scale));

    .icon {
      transform: scale(var(--icon-scale));
    }
    .text {
      transform: scale(var(--text-scale));
    }
  }

  &:focus,
  &:focus-visible {
    outline: var(--border-focus);
    outline-offset: var(--offset-focus);
    transform: scale(var(--button-scale));

    .icon {
      transform: scale(var(--icon-scale));
    }
    .text {
      transform: scale(var(--text-scale));
    }
  }

  &:active {
    animation: shrink 0.2s ease;
    .text,
    .icon {
      animation: shrink 0.2s ease;
    }
  }
}

.defaultbutton {
  color: var(--clr-button-text-default);
  background-color: var(--clr-button-bg-default);

  &:hover {
    background-color: var(--clr-button-bg-default-state);
  }
  &:focus,
  &:focus-visible {
    background-color: var(--clr-button-bg-default-state);
  }

  &:active {
    background-color: var(--clr-button-bg-default-state);
  }
}

.quickbutton {
  max-width: var(--radius-ui);
  max-height: var(--size-ui);
  border-radius: var(--radius-cirle);
  background-color: var(--clr-button-bg-quick-light);
  color: var(--clr-button-bg-quick-dark);

  &-icon.icon {
    font-size: fn-rem(30);
    border-radius: var(--radius-cirle);
  }

  &:hover {
    background-color: var(--clr-button-bg-quick-dark);
    color: var(--clr-button-bg-quick-light);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--clr-button-bg-quick-dark);
    color: var(--clr-button-bg-quick-light);
    outline: none;
    border: var(--border-focus);
  }
}

.datebutton {
  background-color: var(--clr-button-bg-date);
  color: var(--button-text-date);
  width: 100%;
  &:hover {
    background-color: var(--clr-button-bg-date-state);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--clr-button-bg-date-state);
  }

  &.active {
    background-color: var(--clr-button-bg-date-active);
    box-shadow: var(--button-active-shadow);
    transform: var(--active-scale);
  }
}

.cancelbutton {
  color: var(--clr-button-text-cancel);
  background-color: var(--clr-button-bg-cancel);

  &:hover {
    background-color: var(--clr-button-bg-cancel-state);
  }
  &:focus,
  &:focus-visible {
    background-color: var(--clr-button-bg-cancel-state);
  }

  &:active {
    background-color: var(--clr-button-bg-cancel-state);
  }
}

.addbutton {
  color: var(--clr-button-text-add);
  background-color: var(--clr-button-bg-add);

  &:hover {
    background-color: var(--clr-button-bg-add-state);
  }
  &:focus,
  &:focus-visible {
    background-color: var(--clr-button-bg-add-state);
  }

  &:active {
    background-color: var(--clr-button-bg-add-state);
  }
}
