button {
  width: 100%;
  min-width: var(--size-ui);
  min-height: var(--size-ui);
  padding: var(--space-x-xs);
  border: var(--border-transparent);
  border-radius: var(--radius-m);
  @include mix-flex();
  gap: var(--size-2xs);
  text-transform: uppercase;
  @include mix-fontstyle(button);

  &__icon {
    font-size: fn-rem(25);
    @include mix-flex();
    max-width: min-content;
  }

  &__text {
    @include mix-flex();

    @include mix-media(mobile) {
      font-size: fn-rem(17);
    }
  }

  &:hover {
    transform: scale(var(--button-scale));

    &__icon {
      transform: scale(var(--icon-scale));
    }

    &__text {
      transform: scale(var(--text-scale));
    }
  }

  &:focus,
  &:focus-visible {
    outline: var(--border-focus);
    outline-offset: var(--offset-focus);
    transform: scale(var(--button-scale));

    &__icon {
      transform: scale(var(--icon-scale));
    }

    &__text {
      transform: scale(var(--text-scale));
    }
  }

  &:active {
    animation: shrink 0.2s ease;

    &__icon,
    &__text {
      animation: shrink 0.2s ease;
    }
  }
}
