:root {
  --ff-bebas-neue: 'Bebas Neue', sans-serif;
  --ff-fira-mono: 'Fira Mono', monospace;
  --ff-karla: 'Karla', sans-serif;
  --ff-lora: 'Lora', serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-base-default: 14px;
  --fs-base-mobile: 16px;
  --fs-base-tablet: 18px;
  --fs-base-desktop: 20px;

  --ls-s: 0.15rem;
  --ls-m: 0.25;
  --ls-l: 0.5rem;
}

$font-styles: (
  h1: (
    family: var(--ff-bebas-neue),
    weight: var(--fw-regular),
    size: 3rem,
    line-height: 1,
    letter-spacing: var(--ls-l),
    color: var(--clr-heading),
  ),
  heading: (
    family: var(--ff-lora),
    weight: var(--fw-regular),
    size: 2rem,
    letter-spacing: var(--ls-s),
    line-height: 1.3,
    color: var(--clr-heading),
  ),
  base: (
    family: var(--ff-karla),
    weight: var(--fw-regular),
    line-height: 1.3,
    font-size: 14px,
    color: var(--clr-text-dark),
  ),
);
