:root {
  --button-scale: 1.05;
  --text-scale: 1.05;
  --icon-scale: 1.1;
  --active-scale: 0.95;

  --size-ui: 48px;
  --radius-ui: 48px;
  --radius-circle: 50%;
  --padding-ui: 3px;

  --offset-focus: 2px;
  --border-transparent: 2px solid transparent;
  --border-focus: 2px solid #956a7d;
  --border-ui: 2px solid #006134;
  --border-dateinput: 2px solid #945d19;

  --button-active-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);

  --clr-bg-input: #effcf5;
  --clr-bg-input-date: #fbf3e9;
  --clr-text-date: hsl(33, 71%, 25%);
  --border-input-date: 2px solid #945d19;
}
